.title {
    font-size: 40px;
    margin-top: 2%;
    font-weight: bold;
}

form button {
    width: 15%;
    padding: 10px;
    background-color: #373b3c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 5%;
}

form label {
    font-size: 17px;
    font-weight: bold;  
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

form button:hover {
    background-color: #CCCCCC;
    color: black;
}