.title {
    font-weight: bold;
    font-size: 2em;
    color: #004d00;
}

.form-container {
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    border: 1px solid #e6f2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}


.form-label {
    font-weight: bold;
    color: #004d00;
}


.btn-green {
    background-color: #007500;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5em 2em;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-green:hover {
    background-color: #005900;
}


.form-control {
    border: 1px solid #004d00;
    border-radius: 5px;
    color: #004d00;
}