/* Colores y organización de la barra de navegación */
.navbar {
    border-bottom: 2px solid #004d00; /* Verde oscuro */
}

.navbar-brand.title {
    font-weight: bold;
    font-size: 1.5em;
    color: #004d00;
}

.nav-pills .nav-link {
    margin: 0 0.5em;
    padding: 0.5em 1em;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

/* Colores de enlaces */
.nav-link.text-green {
    color: #004d00; /* Verde oscuro */
}

.nav-link.bg-green {
    background-color: #f51818; /* Verde medio para el botón "Cerrar Sesión" */
    color: #ffffff;
}

/* Hover Effects */
.nav-link.text-green:hover {
    background-color: #e6f2e6; /* Fondo verde suave al pasar el cursor */
}

.nav-link.bg-green:hover {
    background-color: #005900; /* Verde más oscuro */
}